<ul class="meal_plan">
  <li>
    <div class="text">
      <% if user_signed_in? %>
        1 1/2 pounds new potatoes, halved
        3 tablespoons butter, cut into small pieces
        Coarse salt and ground pepper
        1 package cut-up whole chicken (about 3 pounds)
        1 bunch asparagus (1 pound), trimmed and cut into 2-inch pieces
        1 lemon, cut into 8 wedges
        6 sprigs fresh thyme
      <% end %>
    </div>
    <div class="image"><%= image_tag "athlete_chicken.jpg", width: '300' %></div>
  </li>
  <input class="btn" type="button" value="like">

  <li>
    <div class="text">
      <% if user_signed_in? %>
      Place lamb liver in a small bowl, sprinkle with sea salt, cover with water and refrigerate for a few hours.

      Peel skin off lamb's fry and remove any other pieces of tissue, slice and lightly coat with the flour. I normally like to cut any long strips in half again so they're bite size.

      Remove excess fat and rind from the bacon and chop coarsely. Leave a bit of streaky fat on the bacon, it adds to the flavour.

      Melt butter in a frypan, add bacon and onion and fry around 8-10 minutes over medium to high temperature until onion is soft and bacon is fairly well cooked but not crisp.

      Add lamb's fry and lightly fry a few minutes turning often to brown evenly, you don't need to cook it through at this stage.

      Blend water, vegemite and cornflour and add to the pan and mix through well.

      Bring to a gentle boil, reduce temperature to a simmer and continue to cook for 20 minutes stirring every 5 minutes or so. It may take a little more time but you want a fairly thick gravy runs a little slowly off a spoon.

      Serve with mashed potatoes or it's also good re-heated and served on toast for breakfast.

      Read more: <a href="http://australian.food.com/recipe/lambs-fry-and-bacon-288843?oc=linkback">http://australian.food.com/recipe/lambs-fry-and-bacon-288843?oc=linkback</a>
      <% end %>
    </div>
    <div class="image"><%= image_tag "athlete_food.jpg", width: '300' %></div>
  </li>
  <input class="btn" type="button" value="like">
  <li>
    <div class="text">
    <% if user_signed_in? %>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    <% end %>
    </div>
    <div class="image"><%= image_tag "athlete_curry.jpg", width:300 %></div>
  </li>
  <input class="btn" type="button" value="like">
</ul>