<div class="alert alert-warning">
  <%= flash.map {|name, message| "#{name}: #{message}"}.join(", ") %>
</div>
<body> meal receipe plans for mums, lifestyle or athleles</body>
<h1>hey bro</h1>

<h2> login form</h2>

<form id= "createAccountForm">
  <input type="button" value='create account'>
</form>

<form id= "choosePlan">
  <input type="button" value='choose plan'>
</form>

<form id="link" action="/url" method="post">
  <input type="text" name="url"/>
  <input type="submit" value="submit"/>
</form>


