<ul class="meal_plan">
  <li>
    <div class="text">
      <% if user_signed_in? %>
      receipe for mothers scallops:
      Preheat the oven to 400°. On a rimmed baking sheet, toss the bread crumbs with 1 tablespoon of the olive oil and season with salt and pepper. Bake for 12 minutes, or until browned and crisp.
     In a small bowl, combine the olives, sun-dried tomatoes, balsamic vinegar and 1/2 tablespoon of the olive oil.
     In a large pot of boiling salted water, cook the spaghetti until al dente. Meanwhile, in a large skillet, heat the remaining 2 tablespoons of olive oil until shimmering. Season the scallops with salt and pepper and cook over high heat until well browned on the bottom, about 3 minutes. Turn the scallops and cook until just done, about 1 minute longer. Transfer the scallops to a large plate. Add the wine to the skillet and cook, scraping up any browned bits, until reduced to 1/4 cup, about 3 minutes. Pour in any accumulated juices from the scallops and remove from the heat.
     Drain the spaghetti and transfer it to a large, shallow serving bowl. Add the pan sauce, the olive-and-sun-dried-tomato mixture and the chopped tomatoes and toss well; season with salt and pepper. Arrange the scallops on top of the spaghetti, scatter the ricotta salata, basil and bread crumbs on top and serve.
      <% end %>
    </div>
    <div class="image"><%= image_tag "mothers_scallops.jpeg", width:300 %></div>
  </li>

  <li>
    <div class="text">
      <% if user_signed_in? %>
      Receipe for mother's tomatoe:
      Combine the olive oil and garlic in a large deep saucepan and cook over medium-low heat for about 10 minutes, stirring or swirling occasionally, until the garlic is deeply colored—striations of deep brown running through golden cloves—and fragrant. If the garlic starts to smell acrid or sharp or is taking on color quickly, pull the pan off the stove and reduce the heat.

      While the garlic is getting golden, deal with the tomatoes: Pour them into a bowl and crush them with your hands. We like to pull out the firmer stem end from each of the tomatoes as we crush them and discard those along with the basil leaves that are packed into a can.

      When the garlic is just about done, add the red pepper flakes to the oil and cook them for 30 seconds or a minute, to infuse their flavor and spice into the oil. Dump in the tomatoes, add the salt, and stir well. Turn the heat up to medium, get the sauce simmering at a gentle pace, not aggressively, and simmer for 4 hours. Stir it from time to time. Mother it a little bit.

      Check the sauce for salt at the end. The sauce can be cooked with meat at this point, or stored, covered, in the fridge for at least 4 days or frozen for up to a few months.
      <% end %>
    </div>
    <div class="image"><%= image_tag "motherstomatoe.jpg", width:300 %></div>
  </li>

  <li>
    <div class="text">
      <% if user_signed_in? %>
      Here's the receipe for mother's tarts:
      1 teaspoon olive oil

     1 clove garlic, minced

    5-ounce package baby spinach

    1 egg
2 cups ricotta cheese

2 tablespoons chopped fresh thyme

Zest of 1 lemon

1/4 teaspoon kosher salt

1/4 teaspoon ground black pepper

1/2 cup grated Asiago cheese

Heat the oven to 375 F. Coat an 8-inch tart pan with a removable bottom with cooking spray. Press the pie dough into the tart pan, trimming any excess.

In a skillet over medium-high, heat the oil. Add the garlic and cook for 1 minute. Add the spinach and cook until completely soft and most the of the liquid has evaporated, 4 to 5 minutes. Transfer the spinach to a fine mesh strainer. Using a spoon or silicone spatula, press the spinach to extract any remaining liquid.

In a medium bowl, beat the egg, then add the ricotta, thyme, lemon zest, salt, pepper and spinach. Stir to combine. Spread the mixture in the prepared tart shell and sprinkle with Asiago cheese. Place on a baking sheet and bake for 35 to 40 minutes, or until puffed and golden brown. Allow to cool slightly. Serve warm or at room temperature.

Nutrition information per serving: 350 calories; 200 calories from fat (57 per cent of total calories); 22 g fat (10 g saturated; 0 g trans fats); 70 mg cholesterol; 25 g carbohydrate; 1 g fiber; 2 g sugar; 14 g protein; 460 mg sodium.
      <% end %>
    </div>
    <div class="image"><%= image_tag "mothersTart.jpg", width:300 %></div>
  </li>

</ul>