/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
  background: url("foodwallpaper.jpg");
  padding-top: 50px;
}


.noty-test{
  font-size:18px;
  font-weight: normal;
}
.container {
  margin: 0 auto;

  .starter-template {
    padding: 40px 15px;
    text-align: center;

  }

}
p {
  color: #FDD017;
  font-size: 24px;
  text-align: center;
}


input {
  text-align: left
}

textarea {
  color: red;
}

h1 {
  color: #FFFFFF;
  text-align: center;
}

title{
 color: #F62217

}

h2{
  color: #FEFCFF
}

input{
  color: #FF0000
}

form{
  color: #FFFFFF
}

h3{
  color: #FEFCFF
}

a.navbar-link{
  color: #FFFFFF;
  font-size: 15px
}

a{
 color: #FFFFFF;
}

.meal_plan {
  clear: both;

  li {
    clear: both;
  }

  .text {
    color: white;
    float: left;
    width: 400px;
  }
  .image {
    float: left;
  }
}

















